<mat-card>
  <table id="table" class="table">
    <thead>
      <th>Név</th>
      <th>Kép</th>
      <th>Leírás</th>
      <th>Ár</th>
      <th></th>
    </thead>
    <tbody style="color: white;">
      <tr *ngFor="let product of favorites">
        <td>{{product.name}}</td>
        <td>
          <mat-card class="img">
            <img mat-card-image src="{{product.href}}" alt="termékek">
          </mat-card>
        </td>
        <td>{{product.description}}</td>
        <td>{{product.prise}} Ft</td>
        <!-- <td class="trash">
          <mat-icon>
            <a class="btn text-danger" (click)="onDelete(product.id)">
              <span class="material-icons">
                delete
              </span>
            </a>
          </mat-icon>
        </td> -->
      </tr>
    </tbody>
  </table>
</mat-card>
